polkit.addRule(function(action, subject) {
    if ((action.id == "org.freedesktop.systemd1.manage-units" ||
         action.id == "org.freedesktop.systemd1.restart-unit" ||
         action.id == "org.freedesktop.systemd1.stop-unit" ||
         action.id == "org.freedesktop.systemd1.start-unit") &&
        action.lookup("unit") == "geoclue.service" &&
        subject.user == "furios") {
        return polkit.Result.YES;
    }
});
