Source: pqadapter
Maintainer: Bardia Moshiri <fakeshell@bardia.tech>
Section: libs
Priority: optional
Build-Depends: debhelper-compat (= 13),
               gcc,
               make,
               libglib2.0-dev,
               libgbinder-dev,
               libasound2-dev,
               libandroid-properties-dev,
Standards-Version: 4.7.2
Vcs-Browser: https://github.com/furilabs/pqadapter
Vcs-Git: https://github.com/furilabs/pqadapter.git

Package: libpq
Architecture: any
Conflicts: pq-gsettings
Depends: ${misc:Depends}, ${shlibs:Depends},
Description: libpq
 PQ wrapper shared object

Package: libpq-dev
Architecture: any
Depends: ${misc:Depends},
          libpq (= ${binary:Version}),
Description: libpq-dev
 PQ wrapper development headers

Package: pqcli
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
          libpq (= ${binary:Version}),
Description: pqcli
 A binary to tweak mediatek PQ functions

Package: gsd-adapter
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
          libpq (= ${binary:Version}),
          furios-quirks-polkit,
Description: gsd-adapter
 A service to handle device specific gsd functions

Package: pqdbus
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
          libpq (= ${binary:Version}),
Description: pqdbus
 PQ wrapper session dbus service

Package: pq-gsettings
Architecture: any
Depends: ${misc:Depends},
Description: pq gsettings schema (this is a transitional package)
